body {
    font-family: 'Poppins', sans-serif;
    background-color: #F0F3F9;
} 



.arrowNav{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: #F0F3F9;
    box-shadow: -7px -7px 12px 0px rgba(255, 255, 255, 1), 7px 7px 12px 0px rgba(68, 86, 161, 0.1);
    font-weight: 900;
    font-size: 20px;
    border: none;
}

.spaceButtons{
    margin-right: 20px;

}

.colorsHeader {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;   
}

#colors-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.cardContainer {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #F0F3F9;
    box-shadow: -7px -7px 12px 0px rgba(255, 255, 255, 1), 7px 7px 12px 0px rgba(68, 86, 161, 0.1);
    margin-bottom: 5%;
}

.innerColorContainer {
    height: 300px;
    border-radius: 10px;
}

.colorNameContainer {
    line-height: 300px;
    text-align: center;
    font-weight: 900;
    margin: 0;
    font-size: 25px;
    cursor: pointer;
}

.yearReleaseContainer {
    font-weight: 300;
    font-style: italic;
    color: #808080;
    margin-bottom: 8px;
}


.hexCodeContainer {
    font-weight: 600;
    font-size:20px;
    margin:0; 
}

.pantoneContainer {
    font-weight: 500;
    margin-top: 8px;    
}

.pantoneContainer,.hexCodeContainer {
color: #333;
}


.flexBetween {
    display: flex;
    flex-flow: row;
    justify-content: center;
}


@media (min-width: 500px){
    #colors-container{
       justify-content: space-around;
    }

    .cardContainer {
        width: 41%;       
    }
}

@media  (min-width: 834px){
    .cardContainer {
        width: 25%;       
    }
}


.completeAnimation{
    width: 100%;
}

footer{
text-align: center;
margin-top: 30px;
}

